* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F1E8 !important;
    margin: 0;
    padding: 0;
}

/*NAVBAR*/
/* Estilos generales del navbar */
.navbar {
    background-color: #9B4819;
    font-family: 'Radley', serif;
    font-size: 20px;
    height: 60px;
}


.navbar-nav .nav-link {
    margin: 0 15px;
    color: #F4F1E8;
    font-family: 'Radley', serif;
    font-size: 18px;
}


.navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.btn-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: #c5a883;
    justify-content: flex-end;
}

.btn-container .btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #F4F1E8;
    font-family: 'Radley', serif;
}

.navbar-toggler {
    border: none;
    padding: 0.25rem 0.75rem;
    background-color: transparent;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.middle-bar {
    content: "";
    display: block;
    background-color: #FFFFFF;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease;
}

.navbar-toggler-icon::before {
    top: 0;
}

.middle-bar {
    top: 50%;
    transform: translateY(-50%);
}

.navbar-toggler-icon::after {
    bottom: 0;
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 985px) {
    .navbar-collapse {
        background-color: rgba(155, 72, 25, 0.8);
        margin-top: 3%;
    }

    .navbar-nav .nav-link {
        color: #F4F1E8;
    
    }

    .navbar-nav .nav-link:hover {
        color: #FFFFFF;
    }

    .btn-container {
        display: flex;
        position: fixed;
        right: 15px;
        top: 0;
        z-index: 1040;
    }

    .navbar-toggler {
        position: relative;
        left: 15px;
        border: none;
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: none; /* Elimina la imagen SVG previa */
        width: 30px;
        height: 21px;
    }

    /* Ocultar el submenú y la flechita en pantallas pequeñas */
    .dropdown-menu {
        display: none; /* Oculta el submenú */
    }

    .dropdown-toggle::after {
        display: none; /* Oculta la flechita */
    }
}

    /* Eliminar la flecha del dropdown-toggle */
    .navbar-nav .dropdown-toggle::after {
        display: none;
        appearance: none;
    }

    /* Mostrar el dropdown al hacer hover */
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
    }

/* Asegúrate de que el dropdown funcione bien en pantallas grandes */
@media (min-width: 986px) {
    .navbar-nav .dropdown-menu {
        position: absolute;
        display: none;
        float: none;
        background-color: #9B4819; /* Mismo color de fondo que el navbar */
        padding-top: 10px;
        padding-bottom: 10px;
        top: 100%;
        left: 0;
        margin-top: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px !important;
    }
}

/* Estilo para los elementos dentro del dropdown al hacer hover */
.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #FFFFFF; /* Cambia el color de la fuente a blanco */
    background-color: rgba(197, 168, 131, 0.8); /* Usar el color más claro para el hover */
}

/* Evitar que el elemento quede marcado después de hacer clic */
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:active {
    color: #F4F1E8; /* Color del texto */
    background-color: #9B4819; /* Color de fondo igual que el navbar */
    outline: none; /* Eliminar el outline */
    box-shadow: none; /* Eliminar sombras adicionales */
}

.dropdown-item {
    color: #FFFFFF !important;
}


/*HOME*/
.logo-container {
  
    position: absolute;
    top: 80px;
    left: 45%;
    width: 120px; 
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.hero-text h1 {
    font-family: 'Radley', serif;
    font-size: 8rem;
    margin: 0;
    color: #191919;
}

.highlight{
    color: #9B4819;

}
.profession {
    font-family: 'Carlito', sans-serif;
    font-size: 2.7rem;
    margin: 20px 0;
    color: #191919;
    margin-bottom: 30px;

}

.description {
    font-family: 'Carlito', sans-serif;
    font-size: 1.2rem;
    margin: 20px 0;
    color: #191919;
    opacity: 0;
    margin-bottom: 50px;
    animation: fadeIn 2s forwards 2s, textBlink 3s infinite;
}

.specialty {
    font-family: 'Radley', serif;
    font-size: 2rem;
    color: #9B4819;
    opacity: 0;
    animation: fadeIn 2s forwards 2.5s;
    position: relative;
    display: inline-block;
    
}

.underline {
    width: 30%;
    height: 2px;
    background-color: #9B4819;
    margin: 10px auto 0;
    animation: underlineSlideIn 1s forwards 3s;
}

.email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.email-logo {
    width: 50px;
    height: auto;
}

.arrow {
    width: 20px;
    height: 20px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg); /* Flecha apunta a la derecha */
    margin-left: 10px;
    animation: moveArrow 1s infinite;
}
.mail {
    margin-top: 15px;
    margin-left: 50px;
    font-size: 18px;
   
}

@keyframes moveArrow {
    0% {
        transform: translateX(0) rotate(-45deg);
    }
    50% {
        transform: translateX(10px) rotate(-45deg);
    }
    100% {
        transform: translateX(0) rotate(-45deg);
    }
}



/* Responsivo */
@media (max-width: 768px) {
    .email-container {
        flex-direction: column;
    }

    .arrow {
        margin: 10px 0;
        transform: rotate(45deg) !important; /* Rotación para que apunte hacia abajo */
             
    }

    .mail {
        font-size: 0.9rem;
        margin-right: 40px;
    }
    .email-container {
        display: none;
    }
}





.decorations .decoration {
    position: absolute;
    background-color: #9B4819;
    border-radius: 50%;
    opacity: 0.5;
    animation: decorationBounce 3s infinite, decorationFade 6s infinite;
}

.decoration-1 {
    width: 10px;
    height: 10px;
    top: 10%;
    left: 5%;
    animation: sparkleAnimation 4s infinite alternate;
}

.decoration-2 {
    width: 15px;
    height: 15px;
    top: 40%;
    left: 90%;
    animation: sparkleAnimation 3s infinite alternate;
}

.decoration-3 {
    width: 20px;
    height: 20px;
    top: 75%;
    left: 20%;
    animation: sparkleAnimation 5s infinite alternate;
}

.sparkle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    animation: sparkleAnimation 3s infinite alternate;
}

.sparkle-1 {
    width: 8px;
    height: 8px;
    top: 25%;
    left: 15%;
}

.sparkle-2 {
    width: 6px;
    height: 6px;
    top: 50%;
    left: 70%;
}

.sparkle-3 {
    width: 12px;
    height: 12px;
    top: 80%;
    left: 35%;
}

.wave {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    animation: waveAnimation 6s infinite linear;
}

.wave-1 {
    width: 150px;
    height: 150px;
    top: -30%;
    left: 20%;
    animation-delay: 0s;
}

.wave-2 {
    width: 100px;
    height: 100px;
    bottom: -20%;
    right: 10%;
    animation-delay: 3s;
}





/* Animaciones */
@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes slideIn {
    to { transform: translateX(0); }
}

@keyframes underlineSlideIn {
    from { width: 0; }
    to { width: 30%; }
}

@keyframes decorationBounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes textBlink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

@keyframes highlightPulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes decorationFade {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

@keyframes textShadow {
    0%, 100% { text-shadow: 0 0 5px rgba(0, 0, 0, 0); }
    50% { text-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
}

@keyframes highlightGlow {
    0%, 100% { color: #9B4819; }
    50% { color: #db9075; }
}

@keyframes professionGlow {
    0%, 100% { color: #191919; }
    50% { color: #e0825f; }
}

@keyframes sparkleAnimation {
    0% { transform: scale(1); opacity: 0; }
    50% { transform: scale(1.5); opacity: 1; }
    100% { transform: scale(1); opacity: 0; }
}

@keyframes waveAnimation {
    0% { transform: scale(0); opacity: 0.5; }
    50% { transform: scale(1); opacity: 0; }
    100% { transform: scale(0); opacity: 0.5; }
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .profession, .description, .specialty {
        font-size: 0.9rem;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .decorations .decoration, .sparkle, .wave {
        display: none; 
    }
    .brush-container{
        opacity: 0;
    }

}

/*ABOUT ME*/

.tittle-about{
    color:#9B4819;
    font-family: "Radley", serif;
    text-align: left;
    font-size: 35px;
    margin-top: 9%;
    margin-bottom: 3%;
}
@media (max-width: 768px){
    .tittle-about{
        margin-top: 15%;
    }
}

.textabout{
   margin-bottom: 5%;
   margin-top: 2%;
   font-family: "Carlito", sans-serif;
   font-weight: 400;
   font-style: normal;
   text-align: justify;
    font-size: 20px;
    color: #191919;
}

.abouth4{
    color:#9B4819;
    font-family: "Radley", serif;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 5%;
}



.img-fluid {
   
    border-radius: 3%;
    margin-bottom: 10%;
}


/*EDUCATION*/
.background-container {
    background-color: #c5a883;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}


.tittle-study {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    color: #9b4819;
    font-family: "Radley", serif;
    font-size: 59px;

}

@keyframes pulse {
    0% {
        color: #F4F1E8;
        transform: scale(1);
    }
    50% {
        color: #D8B4A6; 
        transform: scale(1.1);
    }
    100% {
        color: #F4F1E8;
        transform: scale(1);
    }
}

.study-card {
    min-height: 330px;
    border-radius: 4%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #c5a883;
    color: #9B4819; 
    margin: 20px 0;
}

.study-card img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 2%;
}

.study-card h3.studietext {
    font-family: "Radley", serif;
    font-size: 24px;
    animation: bounceIn 1s ease-out;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.carreratitulo {
    font-family: "Carlito";
    font-size: 20px;
}

.inglespañol {
    font-size: 15px;
}

@media (max-width: 768px) {
    .study-card {
        width: 100%;
        margin: 10px 0;
    }
}

/*COURSES*/
.title-courses {
    margin-bottom: 3%;
    text-align: center;
    color: #9b4819;
    font-family: "Radley", serif;
    font-size: 59px;
}

.courses-timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline-line {
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #9b4819;
    z-index: 1;
    clip-path: inset(60px 0 110px 0);
}

.course-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    padding-left: 80px; 
}

.course-date {
    position: absolute;
    left: 1px; 
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #9b4819;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

.course-content {
    border-radius: 8px;
    padding: 20px;
    position: relative;
    width: 100%;
}

.course-title {
    font-family: "Radley", serif;
    font-size: 20px;
    color: #292929;
    margin-bottom: 10px;
}

.course-instructor {
    font-family: "Carlito", sans-serif;
    font-size: 14px;
    color: #ffffffd3;
}

@media (max-width: 768px) {
    .course-item {
        padding-left: 60px; 
        margin-bottom: 0px;
    }

    .course-date {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        left: 5px; 
    }

    .course-content {
        padding: 15px;
    }
}


/* Subtitulados */

.titulinsubti{
    color: #9b4819;
    margin-bottom: 3%;
    text-align: center;
    font-family: "Radley", serif;
    font-size: 59px;
    
}

.psubti{
    color: #9b4819;
    margin-bottom: 3%;
    text-align: center;
    font-family: "Radley", serif;
    font-size: 35px;
}
.psubti3{
    color: #000000;
    margin-bottom: 3%;
    text-align: center;
    font-family: "Radley", serif;
    font-size: 27px;
    
}

.titlesub2{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #9B4819;
    font-family: "Radley", serif;
    font-size: 45px;
}

.difsubti{
    font-family: "Carlito", sans-serif;
    font-weight: bold;
    text-align: center;
}


.service {
    flex: 1 1 200px;

    text-align: justify;
    
}

.service img {
    margin-bottom: 5%;
    max-width: 35%;
    height: auto;
   transition: transform 0.3s ease;
}
.service img:hover {
    transform: scale(1); /* Escalar el icono un 20% */
    transform: rotate(20deg);
}

.imgsubti{
    text-align: center;
    max-height: 20%;
    width: auto;
    border-radius: 1%;
    
}
.imgsubti2{
    max-width: 50%;
    height: auto;
    border-radius: 3%;
}



/* Responsive ImgSubti*/


@media (min-width: 768px) {
.imgsubti{
    max-width: 100%; 
    height: auto;   
}
}
.imgsubti2{
    max-width: 100%; 
    height: auto;    
}


/*CUÁNTO CUESTA UN PROYECTO AUDIOVISUAL*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.psubti2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.titlevalorr{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #9B4819;
    font-family: "Radley", serif;
    font-size: 50px;    

}
.cost-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
}

.cost-item {
    background: #cfcfcf6e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 105%;
}

.cost-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cost-item h2 {
    font-family: 'Radley', serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #9B4819;
}

.cost-item p {
    font-size: 15px;
    margin: 0;
    text-align: justify;

}

@media (max-width: 768px) {
   .titlevalorr{
    font-size: 28px;
   }
}


/*TRADUCCIONES PÚBLICAS*/
#traducciones-publicas-wrapper {
    background-color: #314028;
    width: 100vw; 
    position: relative;
    padding: 20px 0;
}

.tradupubli {
    color: #BD8F53;
    margin-bottom: 3%;
    text-align: center;
    font-family: "Radley", serif;
    font-size: 48px;
    line-height: 1.2;
}

.ptradu {
    font-family: "Carlito", sans-serif;
    font-size: 1.3rem;
    color: #F4F1E8; 
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}

.content-wrapper {
    margin-top: 20px;
    border: 5px;
   
}

.text-content {
    color: #BD8F53;
    margin-bottom: 20px;
}

.titletradu2 {
    font-family: "Radley", serif;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.list-group-item{
    background-color: #314028 !important;
    color: #ffffff;
    text-align: center;
    border: 1px solid #BD8F53 !important;
   
}

.imgtras {
    text-align: center;
}

.imgtras2 {
    margin-top: 5%;
    border-radius: 8px; 
    width: 80%; 
    height: auto;
    max-width: 500px; 
}

/*SECCIÓN IMÁGENES*/
.bgimage {
    background-color: #9b4819;
    width: 100%;
    height: 100vh; 
    background-image: url('../media/backgroundimg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .bgimage {
        background-size: contain;
        height: 200px;
    }
}



/*CONTACTO*/
#contacto-wrapper {
    background-color: #f4f1e8;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    position: relative;
    padding: 40px 0;
    overflow: hidden;
}

.pcontacto{
    font-size: 12px;
}

#contacto {
    color: #314028;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.contact-title {
    font-family: "Radley", serif;
    font-size: 48px;
    color: #BD8F53;
    margin-bottom: 20px;
    position: relative;
    animation: fadeIn 2s ease-in-out;
}

.contact-text {
    font-family: "Carlito", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 30px;
    animation: fadeIn 2.5s ease-in-out;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    animation: slideIn 1s ease-in-out;
}

.social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2) rotate(10deg);
    filter: brightness(1.2);
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateX(-100px); }
    to { opacity: 1; transform: translateX(0); }
}

/* Responsivo */
@media (max-width: 768px) {
    .contact-title {
        font-size: 36px;
    }

    .contact-text {
        font-size: 1rem;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }
}


.hello {
    position: relative;
    font-size: 2rem; /* Ajusta según sea necesario */
}

.highlight {
    position: relative;
    display: inline-block;
}

.brush-container {
    width: 145%; /* Ajusta el ancho del SVG al 100% del contenedor */
    height: auto; /* Mantiene la proporción del SVG */
    position: absolute;
    top: 0;
    left: -68px;
    transform: translateY(-20%); /* Ajusta según sea necesario */
}

@keyframes drawPath {
    0% {
        stroke-dasharray: 0, 950;
        animation-timing-function: ease-in;
    }
    100% {
        stroke-dasharray: 950, 0;
        animation-timing-function: ease-out;
    }
}

#brushPath {
    stroke-dasharray: 950, 950;
    animation: drawPath 2s linear infinite;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2.25;
    filter: url(#strokeEffect);
}

.hero-section {
    margin-top: 100px;
    text-align: center;
    padding: 130px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 30px 10px; /* Reduce el padding en pantallas más pequeñas */
    }

    .hero-text h1 {
        font-size: 2rem; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .profession {
        font-size: 1.2rem; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .description {
        font-size: 0.9rem; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .specialty {
        font-size: 1.2rem; /* Reduce el tamaño de fuente en pantallas más pequeñas */
    }

    .underline {
        width: 70%; /* Ajusta el ancho para pantallas más pequeñas */
    }

    .logo-container {
        top: 2px; /* Ajusta la posición del logo en pantallas más pequeñas */
        width: 60px; /* Ajusta el tamaño del logo en pantallas más pequeñas */
    }

    .brush-container {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        transform: translateY(-20%);
    }

    #brushPath {
        stroke-width: 1.5; /* Asegura que el trazo sea visible en pantallas más pequeñas */
    }
}

.nav-item a:hover {
    color: rgb(192, 191, 191) !important;
}